<!DOCTYPE html>
<html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="*Aplikacja internetowa moje finanse*" />
	<meta name="keywords" content="budżet, finanse, pieniądze" />
	<meta http-equiv="X-UA-Compatible"  content="IE=edge" />
	<meta name="author" content="Maciej Bombik" />	
    <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
	{% for message in flash_messages %}
		<div class="alert alert-{{ message.type }}">
			{{ message.body }}
		</div>
	{% endfor %}

    {% block body %}
    {% endblock %}
</body>
</html>
