{% extends 'base.html' %}

{% block title %}Moje Finanse - Rejestracja{% endblock %}

{% block body %}

			<section>
				<div class="rejestracja">
					<article>
						<h1>Rejestracja</h1>
						
						{% if user.errors is not empty%}
						<p>Błędy rejestracji:</p>
							<ul>
								{%for error in user.errors%}
									<li>{{error}}</li>
								{%endfor%}	
							</ul>
						{%endif%}	
							<form action="/register/create" method="post">
								Imię <br>
								<input type="text" name="username" value="{{user.username}}" required>
								<br><br>
								e-mail <br>
								<input type="email" name="email" value="{{user.email}}" required>							
								<br><br>
								Hasło <br>
								<input type="password" name="password" required>							
								<br><br>
								Powtórz hasło <br>
								<input type="password" name="password2">
								<br><br>								
								<input type="submit" style="background-color: #5cb85c; color: white" value="Zarejestruj się!">
								<br><br>		
								<a href="/Home/index"><input type="button" style="color: black" value="Powrót"></a>
							</form>
					</article>	
				</div>
			</section>							
{% endblock %}
		