{% extends 'base.html' %}

{% block title %}Moje Finanse - Ustawienia{% endblock %}

{% block body %}

{% if current_user%}

{% endif %}	

		<nav class="navbar navbar-expand-md bg-wlasne navbar-dark justify-content-center">
		  <div class="container-fluid">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
						<span class="navbar-toggler-icon "></span>
					</button>
					
					<div class="collapse navbar-collapse justify-content-center" id="mainmenu">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="/mainmenu/new"><i class="icon-menu-outline"></i>Start  </a> 
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/income/new"><i class="icon-money-1"></i>Dodaj Przychód  </a> 
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/expense/new"><i class="icon-shopping-bag"></i>Dodaj Wydatek  </a> 
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/balance/new"><i class="icon-chart-line"></i>Bilans  </a> 
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="/settings/new"><i class="icon-cogs"></i>Ustawienia  </a> 
							</li>
							<li class="nav-item">
								<a class="nav-link"><span style="color: #5cb85c"><i class="icon-user-1"></i>
								{{ current_user.username }}</span>
								</a>
							</li>							
							<li class="nav-item">
								<a class="nav-link" href="/login/destroy"><i class="icon-logout"></i>Wyloguj się   </a> 
							</li>
						</ul>
					</div>
			</div>	
		</nav>

		<main>
			<section>
				<div class="wydatek" style="width: 70%" style"min-width: 500">
<h1>Ustawienia</h1>
<p>{{ inc_cat_assigned.item.0 }}</p>
	<br>
	<div id="accordion" class="myaccordion">

  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseOne">
        PRZYCHODY
      </a>
    </div>
    <div id="collapseOne" class="collapse" data-parent="#accordion">
      <div class="card-body">
		
												<div id="one_line" align="left"><b>Edytuj<span style="float: right"><a class="small_icon"  type="button" data-toggle="modal" data-target="#modal-edycja-przychody"><i class="icon-pencil"></i></a></span></div><br>
												<div id="one_line" align="left">Usuń<span style="float: right"><a class="small_icon" type="button" name="usuwanie" data-toggle="modal" data-target="#modal-usuwanie-przychody"><i class="icon-trash"></i></a></span></div><br>
												<div id="one_line"align="left">Dodaj kategorię przychodów</b><span style="float: right"><a class="small_icon" type="button" data-toggle="modal" data-target="#modal-nowa_kategoria_przychod"><i class="icon-login"></i></a></div>	

      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        WYDATKI
      </a>
    </div>
    <div id="collapseTwo" class="collapse" data-parent="#accordion">
      <div class="card-body">	
	  
												<div id="one_line" align="left"><b>Edytuj<span style="float: right"><a class="small_icon"  type="button"  data-toggle="modal" data-target="#modal-edycja-wydatki"><i class="icon-pencil"></i></a></span></div><br>
												<div id="one_line" align="left">Usuń<span style="float: right"><a class="small_icon" type="button" name="usuwanie" data-toggle="modal" data-target="#modal-usuwanie-wydatki"><i class="icon-trash"></i></a></span></div><br>
												<div id="one_line"align="left">Dodaj kategorię wydatków</b><span style="float: right"><a class="small_icon" type="button" data-toggle="modal" data-target="#modal-nowa_kategoria_wydatek"><i class="icon-login"></i></a></div>	

      </div>
    </div>
  </div>
 
  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
        SPOSOBY PŁATNOŚCI
      </a>
    </div>
    <div id="collapseThree" class="collapse" data-parent="#accordion">
      <div class="card-body">

												<div id="one_line" align="left"><b>Edytuj<span style="float: right"><a class="small_icon"  type="button"  data-toggle="modal" data-target="#modal-edycja-platnosci"><i class="icon-pencil"></i></a></span></div><br>
												<div id="one_line" align="left">Usuń<span style="float: right"><a class="small_icon" type="button" name="usuwanie" data-toggle="modal" data-target="#modal-usuwanie-platnosci"><i class="icon-trash"></i></a></span></div><br>
												<div id="one_line"align="left">Dodaj metodę płatności</b><span style="float: right"><a class="small_icon" type="button" name="okres" data-toggle="modal" data-target="#modal-nowa_metoda_platnosci"><i class="icon-login"></i></a></div>	

      </div>
    </div>
  </div> 

  <div class="card">
  
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
        UŻYTKOWNIK
      </a>
    </div>
    <div id="collapseFour" class="collapse" data-parent="#accordion">
      <div class="card-body">

												<div id="one_line" align="left"><b>Zmień nazwę użytkownika<span style="float: right"><a class="small_icon"  type="button"  data-toggle="modal" data-target="#modal-edycja-nazwa-uzytkownika"><i class="icon-pencil"></i></a></span></div><br>
												<div id="one_line" align="left"><b>Edytuj adres e-mail<span style="float: right"><a class="small_icon"  type="button"  data-toggle="modal" data-target="#modal-edycja-email"><i class="icon-pencil"></i></a></span></div><br>
												<div id="one_line" align="left"><b>Zmień hasło<span style="float: right"><a class="small_icon"  type="button"  data-toggle="modal" data-target="#modal-edycja-haslo"><i class="icon-pencil"></i></a></span></div>												
      </div>
    </div>
  </div>

</div>

				</div>
				
										<!-- Modal nowa kategoria wydatkow-->
						<div class="modal fade" id="modal-nowa_kategoria_wydatek" tabindex="-1" role="dialog" aria-labelledby="modal-nowa_kategoria_wydatek" aria-hidden="true">
							 <div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Utwórz nową kategorię</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
								  </div>
								  <form action="/Settings/create" method="post">
								  <div class="modal-body">
										<input class="form-control" type="text" placeholder="Nazwa kategorii" name="nowa_nazwa">
								  </div>								  
								  <div class="modal-footer">								  
									<button type="button" class="btn btn-danger" data-dismiss="modal">Anuluj</button>
									<button type="submit" value="2" name="kategoria" class="btn btn-success">Utwórz</button>
									</form>
								</div>
								</div>
							 </div>
						</div>
						
										<!-- Modal nowa kategoria przychodow-->
						<div class="modal fade" id="modal-nowa_kategoria_przychod" tabindex="-1" role="dialog" aria-labelledby="modal-nowa_kategoria_przychod" aria-hidden="true">
							 <div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Utwórz nową kategorię</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
								  </div>
								  <form action="/Settings/create" method="post">
								  <div class="modal-body">
										<input class="form-control" type="text" placeholder="Nazwa kategorii" name="nowa_nazwa">
								  </div>								  
								  <div class="modal-footer">								  
									<button type="button" class="btn btn-danger" data-dismiss="modal">Anuluj</button>
									<button type="submit" value="1" name="kategoria" class="btn btn-success">Utwórz</button>
									</form>
								</div>
								</div>
							 </div>
						</div>						
										<!-- Modal nowy sposob platnosci-->
						<div class="modal fade" id="modal-nowa_metoda_platnosci" tabindex="-1" role="dialog" aria-labelledby="modal-nowa_metoda_platnosci" aria-hidden="true">
							 <div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Dodaj nową metodę płatności</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
								  </div>
								  <form action="/Settings/create" method="post">
								  <div class="modal-body">
										<input class="form-control" type="text" placeholder="Nazwa sposobu płatności" name="nowa_nazwa">
								  </div>								  
								  <div class="modal-footer">								  
									<button type="button" class="btn btn-danger" data-dismiss="modal">Anuluj</button>
									<button type="submit" value="3" name="kategoria" class="btn btn-success">Utwórz</button>
									</form>
								</div>
								</div>
							 </div>
						</div>				

										<!-- Modal edycja przychody-->
						<div class="modal fade" id="modal-edycja-przychody" tabindex="-1" role="dialog" aria-labelledby="modal-edycja-przychody" aria-hidden="true">
							 <div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Edycja</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
								  </div>
								  <form action="/Settings/create" method="post">
								  
								  <div class="modal-body">
										<select class="form-control" name="stara_nazwa">
										<option disabled selected value> -- wybierz -- </option>
											{% for item in inc_cat_assigned %}						
												<option value="{{ item.0 }}"> {{ item.0 }}</option>
											{% endfor %}											
										</select>
									<br><br>											
										<input class="form-control" type="text" name="nowa_nazwa" placeholder="Nowa nazwa" required>
								  </div>	
								  
								  <div class="modal-footer">								  
									<button type="button" class="btn btn-danger" data-dismiss="modal">Anuluj</button>
									<button type="submit" value="1" name="akcja" class="btn btn-success">Potwierdzam</button>
									</form>
								</div>
								</div>
							 </div>
						</div>			

										<!-- Modal edycja wydatki-->
						<div class="modal fade" id="modal-edycja-wydatki" tabindex="-1" role="dialog" aria-labelledby="modal-edycja-wydatki" aria-hidden="true">
							 <div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Edycja</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
								  </div>
								  <form action="/Settings/create" method="post">
								  
								  <div class="modal-body">
										<select class="form-control" name="stara_nazwa">
										<option disabled selected value> -- wybierz -- </option>										
											{% for item in exp_cat_assigned %}						
												<option value="{{ item.0 }}"> {{ item.0 }}</option>
											{% endfor %}											
										</select>
									<br><br>								
										<input class="form-control" type="text" name="nowa_nazwa" placeholder="Nowa nazwa"><br>
										<input class="form-control" type="number" name="limit" min="0" step="0.01" placeholder="Ustaw miesięczny limit">												
								  </div>	
								  
								  <div class="modal-footer">								  
									<button type="button" class="btn btn-danger" data-dismiss="modal">Anuluj</button>
									<button type="submit" value="2" name="akcja" class="btn btn-success">Potwierdzam</button>
									</form>
								</div>
								</div>
							 </div>
						</div>	

										<!-- Modal edycja platnosci-->
						<div class="modal fade" id="modal-edycja-platnosci" tabindex="-1" role="dialog" aria-labelledby="modal-edycja-platnosci" aria-hidden="true">
							 <div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Edycja</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
								  </div>
								  <form action="/Settings/create" method="post">
								  
								  <div class="modal-body">
										<select class="form-control" name="stara_nazwa">
										<option disabled selected value> -- wybierz -- </option>										
											{% for item in pay_meth_assigned %}						
												<option value="{{ item.0 }}"> {{ item.0 }}</option>
											{% endfor %}											
										</select>
									<br><br>											
										<input class="form-control" type="text" name="nowa_nazwa" placeholder="Nowa nazwa" required>
								  </div>	
								  
								  <div class="modal-footer">								  
									<button type="button" class="btn btn-danger" data-dismiss="modal">Anuluj</button>
									<button type="submit" value="3" name="akcja" class="btn btn-success">Potwierdzam</button>
									</form>
								</div>
								</div>
							 </div>
						</div>	
						
										<!-- Modal usuwanie kategorii przychodow-->
						<div class="modal fade" id="modal-usuwanie-przychody" tabindex="-1" role="dialog" aria-labelledby="modal-usuwanie" aria-hidden="true">
							 <div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">USUWANIE KATEGORI!</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
								  </div>
								  <form action="/Settings/create" method="post">
								  <div class="modal-body">
								  
										<select class="form-control" name="usuwana_kategoria">
										<option disabled selected value> -- wybierz -- </option>										
											{% for item in inc_cat_assigned %}						
												<option value="{{ item.0 }}"> {{ item.0 }}</option>
											{% endfor %}											
										</select><br>								  								  
										<b><span style="color: tomato">UWAGA! ZAMIERZASZ CAŁKOWICIE USUNĄĆ KATEGORIĘ!</span></b>
								  </div>	
								  
								  <div class="modal-footer">								  
									<button type="button" class="btn btn-success" data-dismiss="modal">Anuluj</button>
									<button type="submit" value="4" name="akcja" class="btn btn-danger">Usuń</button>
									</form>
								</div>
								</div>
							 </div>
						</div>

										<!-- Modal usuwanie kategorii wydatkow-->
						<div class="modal fade" id="modal-usuwanie-wydatki" tabindex="-1" role="dialog" aria-labelledby="modal-usuwanie" aria-hidden="true">
							 <div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">USUWANIE KATEGORI!</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
								  </div>
								  <form action="/Settings/create" method="post">
								  <div class="modal-body">
								  
										<select class="form-control" name="usuwana_kategoria">
										<option disabled selected value> -- wybierz -- </option>
											{% for item in exp_cat_assigned %}						
												<option value="{{ item.0 }}"> {{ item.0 }}</option>
											{% endfor %}											
										</select><br>								  								  
										<b><span style="color: tomato">UWAGA! ZAMIERZASZ CAŁKOWICIE USUNĄĆ KATEGORIĘ!</span></b>
								  </div>	
								  
								  <div class="modal-footer">								  
									<button type="button" class="btn btn-success" data-dismiss="modal">Anuluj</button>
									<button type="submit" value="5" name="akcja" class="btn btn-danger">Usuń</button>
									</form>
								</div>
								</div>
							 </div>
						</div>	

										<!-- Modal usuwanie sposobow platnosci-->
						<div class="modal fade" id="modal-usuwanie-platnosci" tabindex="-1" role="dialog" aria-labelledby="modal-usuwanie" aria-hidden="true">
							 <div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">USUWANIE KATEGORI!</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
								  </div>
								  <form action="/Settings/create" method="post">
								  <div class="modal-body">
								  
										<select class="form-control" name="usuwana_kategoria">
										<option disabled selected value> -- wybierz -- </option>
											{% for item in pay_meth_assigned %}						
												<option value="{{ item.0 }}"> {{ item.0 }}</option>
											{% endfor %}											
										</select><br>								  								  
										<b><span style="color: tomato">UWAGA! ZAMIERZASZ CAŁKOWICIE USUNĄĆ KATEGORIĘ!</span></b>
								  </div>	
								  
								  <div class="modal-footer">								  
									<button type="button" class="btn btn-success" data-dismiss="modal">Anuluj</button>
									<button type="submit" value="6" name="akcja" class="btn btn-danger">Usuń</button>
									</form>
								</div>
								</div>
							 </div>
						</div>	

										<!-- Modal edycja nazwa uzytkownika-->
						<div class="modal fade" id="modal-edycja-nazwa-uzytkownika" tabindex="-1" role="dialog" aria-labelledby="modal-edycja-nazwa-uzytkownika" aria-hidden="true">
							 <div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Edycja</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
								  </div>
								  <form action="/Settings/create" method="post">
								  
								  <div class="modal-body">
										<input class="form-control" type="text" disabled selected value="{{ current_user.username }} "> 																	
									<br><br>											
										<input class="form-control" type="text" name="nowa_nazwa_uzytkownika" placeholder="Nowa nazwa użytkownika" required>
								  </div>	
								  
								  <div class="modal-footer">								  
									<button type="button" class="btn btn-danger" data-dismiss="modal">Anuluj</button>
									<button type="submit" value="7" name="akcja" class="btn btn-success">Potwierdzam</button>
									</form>
								</div>
								</div>
							 </div>
						</div>	
						
										<!-- Modal edycja adres email-->
						<div class="modal fade" id="modal-edycja-email" tabindex="-1" role="dialog" aria-labelledby="modal-edycja-email" aria-hidden="true">
							 <div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Edycja</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
								  </div>
								  <form action="/Settings/create" method="post">
								  
								  <div class="modal-body">
										<input class="form-control" type="text" disabled selected value="{{ current_user.email }} "> 																	
									<br><br>											
										<input class="form-control" type="email" name="nowy_email" placeholder="Nowy adres email" required>
								  </div>	
								  
								  <div class="modal-footer">								  
									<button type="button" class="btn btn-danger" data-dismiss="modal">Anuluj</button>
									<button type="submit" value="8" name="akcja" class="btn btn-success">Potwierdzam</button>
									</form>
								</div>
								</div>
							 </div>
						</div>

										<!-- Modal edycja haslo-->
						<div class="modal fade" id="modal-edycja-haslo" tabindex="-1" role="dialog" aria-labelledby="modal-edycja-h" aria-hidden="true">
							 <div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Edycja</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
								  </div>
								  <form action="/Settings/create" method="post">
								  
								  <div class="modal-body">
										<select class="form-control" name="stara_nazwa">
										<option disabled selected value> -- wybierz -- </option>										
											{% for item in pay_meth_assigned %}						
												<option value="{{ item.0 }}"> {{ item.0 }}</option>
											{% endfor %}											
										</select>
									<br><br>											
										<input class="form-control" type="text" name="nowa_nazwa" placeholder="Nowa nazwa" required>
								  </div>	
								  
								  <div class="modal-footer">								  
									<button type="button" class="btn btn-danger" data-dismiss="modal">Anuluj</button>
									<button type="submit" value="3" name="akcja" class="btn btn-success">Potwierdzam</button>
									</form>
								</div>
								</div>
							 </div>
						</div>							
						
			</section>
			
		</main>

{% endblock %}